<!DOCTYPE html>
<html lang="en">
  <%- include('components/head', { title: 'Home' }) %>
  <body>
    <%- include('components/navbar', { sess: sess }) %>
    <p class="display-3">Oops... Something wrong happended!</p>
  </body>
</html>
