<!DOCTYPE html>
<html lang="en">
  <%- include('components/head', { title: 'Login' }) %>
  <body>
    <%- include('components/navbar', { sess: sess }) %>
    <%- include('components/errorMessages', { errorMessages: errorMessages }) %>
    <div class="container mt-4">
      <img src="/assets/tree.svg" class="img-fluid border-0 mx-auto d-block" style="width: 10em">
      <h1>Login</h1>
      <form action="/user/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Your username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/" class="btn btn-danger">Cancel</a>
      </form>
      <%- include('components/bottomSpace') %>
    </div>
  </body>
</html>
